@import './bootstrap/_variables.scss';

@import './prism-coy.css';

$primary-gray: lighten($brand-primary, 15);
$primary-light: lighten($brand-primary, 25);

.doc-img {
	display: block;
	border: 1px solid #ccc;
    padding: 5px;
    margin: 5px auto;
    max-width: 100%;
}

.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    pre {
	    padding: 0;
	    margin-top: 0;
	    margin-bottom: 0;
	    word-break: normal;
	    white-space: nowrap;
	    background-color: transparent;
	    border: 0;
	    code {
    	    font-size: inherit;
    		color: #333;
	    }
	    code:first-child {
		    display: inline-block;
		    padding-right: 45px;
		}
	}
}

.ams-docs-nav {
	margin-bottom: 0;
}
.ams-docs-header {
	padding: 2rem 15px;
    margin-bottom: 1.5rem;
    color: $primary-light;
    text-align: left;
    background-color: $brand-primary;
    h1 {
    	color: #fff;
    }
}

.ams-docs-sidebar {
	.nav {
		> li {
			> a {
				display: block;
			    padding: 4px 20px;
			    font-size: 13px;
			    font-weight: 500;
			    color: #999;
			}

			&.active > a {
			    padding-left: 18px;
			    font-weight: 700;
			    color: $primary-gray;
			    background-color: transparent;
			    border-left: 2px solid $brand-primary;
			}
			&:hover > a {
			    padding-left: 19px;
			    color: $primary-gray;
			    text-decoration: none;
			    background-color: transparent;
			    border-left: 1px solid $primary-gray;
			}

			.nav > li {
				> a {
				    padding-top: 1px;
				    padding-bottom: 1px;
				    padding-left: 30px;
				    font-size: 12px;
				    font-weight: 400;
				}
				&:hover > a{
					padding-left: 29px;
				}

				.nav > li {
					> a {
					    padding-left: 42px;
					    color: #bbb;
					}
					&:hover > a{
						padding-left: 41px;
					}
				}
			}

		    
		}
	}
}

.ams-docs-section {
	.page-header {
	    padding-bottom: 9px;
	    margin: 40px 0 20px;
	    border-bottom: 1px solid #eee;
	}
	p {
		font-size: 16px;
	    line-height: 1.75;
	    margin-bottom: 1em;
	}
}

.ams-example {
	position: relative;
    padding: 45px 15px 15px;

    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ddd;

    &:after {
    	position: absolute;
	    top: 15px;
	    left: 15px;
	    font-size: 12px;
	    font-weight: 700;
	    color: #959595;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    content: "实例：" !important
	}
}