@import '../../../css/px2rem.scss';
.wap-button {
    background: #ffb81d;
    height: px2rem(82px);
    line-height: px2rem(82px);
    width: auto;
    font-size: px2rem(32px);
    text-align: center;
    color: #262222;
    -webkit-border-radius: px2rem(41px);
    -moz-border-radius: px2rem(41px);
    border-radius: px2rem(41px);
    a {
	    display: block;
	    color: inherit;
	    text-decoration: none;
    }
}
