* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    height: 100%;
}

body {
    height: 100%;
}

.fl-l {
    float: left;
}

.fl-r {
    float: right;
}

%clearfix {
    &::before,
    &::after {
        content: ' ';
        display: table;
        clear: both;
    }
}

.main-container {
    background: url(../images/main-bg.jpg) no-repeat top left;
    background-size: 100% auto;
    overflow: hidden;
}