@charset "UTF-8";
html {
  height: 100%;
  font-family: '黑体';
  color: #000;
  font-size: 30px;
  background-color: #f7f7f7; }

.app-view {
  height: 100%; }

.app-view.open {
  overflow: hidden; }

div {
  max-height: 9999px; }

p {
  max-height: 9999px; }

a {
  text-decoration: none; }

.juzhong {
  vertical-align: middle; }

body {
  /*display: flex;*/
  /*align-items: center;
  justify-content: center;*/
  width: 100%;
  height: 100%; }

.app-views {
  height: 100%;
  width: 100%; }

.color1 {
  color: #a3a3a3; }

.color2 {
  color: #18cbaf; }

.color3 {
  color: #fff; }

.color4 {
  color: #686da5; }

.color5 {
  color: #8a8a8a; }

.height1 {
  line-height: 50px; }

.height2 {
  line-height: 50px;
  border-top: 1px solid #ccc;
  padding: 5px 0;
  margin: 5px 0; }

* {
  margin: 0;
  padding: 0; }

img {
  border: none;
  vertical-align: top; }

.left {
  float: left; }

.right {
  float: right; }

.banner {
  width: 100%;
  height: 300px;
  /*background:url(../images/banner.png) no-repeat;*/
  position: relative; }

.banner-title {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 74px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 36px;
  line-height: 74px;
  color: #fff; }

.activity-detail {
  background-color: #fff;
  padding: 10px 20px; }
  .activity-detail .detail-header {
    height: 75px;
    line-height: 75px; }
  .activity-detail .detail-text {
    color: #18cbaf; }

.xiangxi p {
  line-height: 40px;
  max-height: 9999px; }
.xiangxi img {
  width: 100%;
  min-height: 320px;
  max-height: 400px;
  margin: 5px 0;
  background-size: 0 auto; }

.tieba {
  padding: 26px 26px 5px;
  background-color: #fff;
  box-sizing: border-box; }
  .tieba .head {
    padding: 10px 0;
    box-sizing: border-box; }
  .tieba .head-left {
    width: 73px;
    height: 73px;
    border-radius: 50%;
    display: inline-block;
    background: url(./img/head-icon.png) no-repeat; }
  .tieba .head-right {
    display: inline-block; }
    .tieba .head-right p:nth-of-type(1) {
      line-height: 45px; }
    .tieba .head-right .date {
      color: #a4a4a4; }
  .tieba .view-img {
    width: 30%;
    height: 200px;
    background-size: center center; }
  .tieba .address-icon {
    width: 17px;
    height: 23px;
    background: url(./img/address-icon.png) no-repeat;
    display: inline-block;
    background-size: contain; }

.detail-btn {
  border-top: 1px solid #ccc;
  display: flex;
  height: 70px;
  line-height: 70px; }
  .detail-btn .a-btn {
    flex: 1;
    display: block;
    text-align: center;
    color: #6a6a6a;
    border-right: 1px solid #ccc;
    vertical-align: middle; }

.send {
  width: 28px;
  height: 24px;
  background: url(./img/send.png) no-repeat;
  display: inline-block;
  padding-right: 10px;
  background-size: contain; }

.comment {
  width: 26px;
  height: 24px;
  background: url(./img/comment.png) no-repeat;
  display: inline-block;
  padding-right: 10px;
  background-size: contain; }

.good {
  width: 24px;
  height: 100%;
  background: url(./img/good-pre.png) no-repeat;
  display: inline-block;
  padding-right: 10px;
  padding-left: 30px;
  line-height: 70px;
  vertical-align: middle;
  background-position: left 20px; }

.good.active {
  width: 24px;
  height: 100%;
  background: url(./img/good.png) no-repeat;
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
  line-height: 70px;
  background-position: left center; }

.good.no {
  width: 24px;
  height: 100%;
  background: url(./img/good-pre.png) no-repeat;
  display: inline-block;
  padding-right: 10px;
  background-position: left center; }

.zhiding.active {
  color: #ff7e00; }

.zhiding.other {
  color: #ff7e00;
  color: #fe1c1c; }

.menu {
  position: fixed;
  height: 86px;
  border-top: 1px solid #ccc;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 100%; }

.mymenu {
  display: flex;
  padding-top: 12px; }
  .mymenu .a-btn {
    flex: 1;
    display: block;
    text-align: center;
    color: #6a6a6a; }
    .mymenu .a-btn p {
      font-size: 25px; }

.home.active {
  width: 42px;
  height: 37px;
  background: url(./img/home.png) no-repeat;
  display: inline-block; }

.home {
  width: 42px;
  height: 37px;
  background: url(./img/home-pre.png) no-repeat;
  display: inline-block; }

.fatie {
  width: 37px;
  height: 37px;
  background: url(./img/tie.png) no-repeat;
  display: inline-block; }
  .fatie p {
    font-size: 25px; }

.fatie.active {
  width: 37px;
  height: 37px;
  background: url(./img/tie-act.png) no-repeat;
  display: inline-block; }
  .fatie.active p {
    font-size: 25px; }

.me {
  width: 40px;
  height: 40px;
  background: url(./img/me.png) no-repeat;
  display: inline-block; }
  .me p {
    font-size: 25px; }

.me.active {
  width: 40px;
  height: 40px;
  background: url(./img/me-act.png) no-repeat;
  display: inline-block; }
  .me.active p {
    font-size: 25px; }

.detail-top {
  height: 70px;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  line-height: 50px;
  text-align: center; }

.bothComment {
  width: 100%;
  background-color: #fff;
  border-bottom: 2px solid #ccc;
  line-height: 56px; }
  .bothComment .bothComment-head {
    padding-left: 15px;
    border-left: 5px solid #18cbaf;
    margin-left: 26px; }

.tieba-body {
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 30px; }
  .tieba-body img {
    width: 100%;
    height: auto;
    margin: 5px 0; }

.louzhu {
  background-color: #18cbaf;
  color: #fff;
  padding: 1px 8px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 10px; }

.comment-body {
  padding: 10px 0px 10px 80px;
  box-sizing: border-box; }

.border-none {
  border: none; }

.review {
  width: 100%;
  padding: 12px 18px;
  box-sizing: border-box;
  background-color: #18cbaf;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #fff;
  z-index: 999; }
  .review .review-box {
    width: 100%;
    height: 52px;
    position: relative; }
  .review .review-input {
    width: 80%;
    height: 100%;
    border-radius: 10px;
    font-size: 26px;
    display: inline-block;
    padding-left: 45px;
    box-sizing: border-box;
    background: url(./img/write.png) 10px center no-repeat;
    background-color: #fff; }
  .review .review-good {
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    right: -27px;
    top: 6px; }
    .review .review-good i {
      width: 40px;
      height: 40px;
      background: url(./img/zan.png) no-repeat;
      display: inline-block;
      background-size: contain; }
  .review .review-good.active i {
    background: url(./img/good.png) no-repeat; }

.detail-back {
  width: 13px;
  height: 24px;
  background: url(./img/back.png) no-repeat;
  display: inline-block;
  position: absolute;
  left: 25px;
  top: 25px; }

.lou {
  position: absolute;
  top: 0px;
  right: 20px; }

.personbg {
  width: 100%;
  height: 299px;
  background: url(./img/personBg.jpg) no-repeat;
  text-align: center; }
  .personbg .personImg {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    background: url(./img/1.png) no-repeat; }

.person-nav {
  height: 120px;
  padding: 28px 0;
  display: flex;
  background-color: #fff;
  box-sizing: border-box;
  line-height: 56px; }
  .person-nav a {
    flex: 1;
    text-align: center;
    border-right: 1px solid #000;
    color: #000; }

.my-fatie.active {
  color: #18cbaf; }

.my-fatie1 {
  border: none; }

.person-btn {
  padding-right: 30px;
  color: #6a6a6a; }

.person-comment {
  height: 40px;
  float: right; }

.background1 {
  width: 100%;
  background-color: #fff;
  margin-top: 20px; }
  .background1 .tie-title {
    width: 100%;
    height: 76px;
    line-height: 76px;
    padding-left: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc; }
    .background1 .tie-title input {
      width: 100%;
      height: 64px;
      line-height: 100%;
      border: none;
      font-size: 30px; }
  .background1 .tie-area {
    width: 100%;
    height: 360px;
    border: none;
    resize: none;
    padding: 20px;
    box-sizing: border-box;
    font-size: 30px;
    line-height: 35px; }

.tie-send {
  height: 78px;
  line-height: 78px;
  text-align: center;
  color: #fff;
  background-color: #15caae;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0; }

.pinlun-box {
  padding: 0 0 0 80px;
  box-sizing: border-box;
  line-height: 60px; }

.pinglun-btn {
  display: inline-block;
  margin-right: 100px;
  color: #8a8a8a;
  height: 60px;
  line-height: 60px; }

.huifu {
  width: 100%;
  padding: 12px 18px;
  box-sizing: border-box;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #000;
  z-index: 999; }
  .huifu textarea {
    width: 100%;
    height: 255px;
    border: 1px solid #ccc;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 30px;
    line-height: 35px;
    color: #000; }

.biaoqing {
  width: 49px;
  height: 49px;
  background: url(./img/biaoqing.png) no-repeat;
  display: inline-block;
  vertical-align: middle; }

.pic {
  width: 49px;
  height: 40px;
  background: url(./img/img.png) no-repeat;
  display: inline-block;
  vertical-align: middle; }

.cancel {
  color: #15caae;
  background-color: #fff;
  padding: 10px 15px;
  box-sizing: border-box;
  border: 1px solid #15caae;
  vertical-align: middle;
  float: right;
  margin: 0 20px; }

.fabiao {
  color: #fff;
  background-color: #15caae;
  padding: 10px 15px;
  box-sizing: border-box;
  border: 1px solid #15caae;
  vertical-align: middle;
  float: right; }

.add {
  text-align: center; }
  .add div {
    width: 240px;
    height: 240px;
    border: 2px dashed #000;
    line-height: 200px;
    font-size: 240px;
    display: inline-block;
    margin-bottom: 10px; }
  .add p {
    margin: 0;
    height: 24px;
    font-size: 20px;
    line-height: 24px; }

.showImgs {
  display: inline-block;
  padding: 5px;
  box-sizing: border-box; }
  .showImgs .img-top {
    display: inline-block; }
    .showImgs .img-top > div {
      background-repeat: no-repeat;
      position: relative;
      display: inline-block;
      margin-right: 8px;
      margin-bottom: 5px;
      width: 31%;
      height: 200px; }
  .showImgs .itemDiv {
    display: inline-block;
    width: 30%;
    margin: 2% 0 0 2%;
    position: relative; }
    .showImgs .itemDiv .img-item {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      right: 0; }

.join_btn {
  width: 52%;
  background-color: #ed6c00;
  color: #fff;
  height: des2devrem(68px);
  line-height: des2devrem(68px);
  display: inline-block;
  margin: des2devrem(30px) 0; }

.inputbutton {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 40px; }

.ca {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: rgba(170, 170, 170, 0.5);
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 20px;
  border-bottom-left-radius: 8px; }

.dingwei {
  width: 164px;
  height: 41px;
  background: url(./img/dingwei.png) no-repeat;
  display: inline-block;
  vertical-align: middle; }

.biaoqing-model {
  height: 380px;
  color: #15caae;
  background-color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0;
  border-top: 1px solid #ccc; }

.biaoqingbao {
  height: 310px;
  border-bottom: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll; }
  .biaoqingbao span {
    display: inline-block;
    width: 14.28%;
    /*padding: 15px 0;*/
    font-size: 25px;
    text-align: center;
    box-sizing: border-box;
    color: #c57325;
    font-weight: bold;
    height: 56px;
    line-height: 56px;
    margin: 6px;
    color: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    background-position: center center; }

.biaoqing-bottom {
  width: 100%;
  height: 68px;
  background-color: #fff;
  padding: 12px 20px;
  box-sizing: border-box;
  position: relative; }

.smile-fix {
  width: 44px;
  height: 44px;
  background: url(./img/smile.png) no-repeat;
  display: inline-block;
  float: left; }

.finish-text {
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff; }

.pb {
  width: 100%;
  padding: 12px 18px;
  box-sizing: border-box;
  background-color: #fff;
  color: #000; }
  .pb textarea {
    width: 100%;
    height: 255px;
    border: 1px solid #ccc;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 30px;
    line-height: 35px;
    color: #000; }

.pullUp {
  text-align: center; }

.reg {
  width: 18px;
  height: 11px;
  background: url(./img/down.png) no-repeat;
  display: inline-block; }

.reg.active {
  width: 18px;
  height: 11px;
  background: url(./img/up1.png) no-repeat;
  display: inline-block; }

.lei {
  position: absolute;
  right: 0;
  width: 15%;
  top: -8px; }

.double {
  width: 24px;
  height: 100%;
  background: url(./img/zan.png) no-repeat;
  display: inline-block;
  padding-right: 10px;
  padding-left: 30px;
  line-height: 70px;
  vertical-align: middle;
  background-position: left 20px;
  padding-left: 50px;
  color: #fff; }

.double.active {
  width: 24px;
  height: 100%;
  background: url(./img/zan.png) no-repeat;
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
  line-height: 70px;
  background-size: 40px 40px;
  background-position: left center;
  padding-left: 50px; }

.double.no {
  width: 24px;
  height: 100%;
  background: url(./img/zan.png) no-repeat;
  display: inline-block;
  padding-right: 10px;
  background-size: 40px 40px;
  background-position: left center;
  padding-left: 50px; }

/*# sourceMappingURL=style.css.map */
