%clearfix {
  &::after,
  &::before {
    content: ' ';
    display: table;
    clear: both;
  }
}

.music-opt__container {
	.modal-dialog {
		overflow: hidden;
	}

  .modal-panel .content .spane {
    .label {
      margin-top: 12px;
    }
    .nr .col {
      @extend %clearfix;
      i {
        border: 1px solid #ccc;
      }
      span {
        line-height: 2;
      }
      input {
        margin-left: 24px;
        display: inline-block;
        width: 200px;
      }
      .radio-ripple {
        margin-right: 20px;
      }
    }
  }
}

.music-options__uploadpic {
  &.col {
    height: auto !important;
  }
}

.music-option__upload {
  margin-right: 10px;
  display: inline-block;
  >.title {
    padding: 0 10px 0 0;
    line-height: 1;
    border-bottom: 0;
  }
}

.music-options__filetype {
  input {
    margin-left: 0 !important;
    &.fileurl {
      width: 296px !important;
    }
  }
}

.music-options__current {
  margin-top: 10px;
  word-break: break-all;
}

.music-options__lists {
  padding-left: 15px;

  li {
    margin-top: 10px;
  }
}