.wap-button {
  background: #3fe497;
  height: 3.41667rem;
  line-height: 3.41667rem;
  width: auto;
  font-size: 1.33333rem;
  text-align: center;
  color: #fff;
  -webkit-border-radius: 1.70833rem;
  -moz-border-radius: 1.70833rem;
  border-radius: 1.70833rem; }
  .wap-button a {
    display: block;
    color: inherit;
    text-decoration: none; }
  .wap-button.disabled {
    opacity: 0.5;
    pointer-events: none !important; }

.game-btn {
  position: relative;
  background-color: rgba(255, 184, 29, 0);
  background-image: url("../images/btn.png");
  background-repeat: no-repeat;
  background-size: 100%;
  line-height: 3.75rem;
  width: 9.79167rem;
  height: 3.75rem;
  font-size: 1.41667rem;
  text-align: center;
  color: #000000;
  margin: 2.625rem auto 0; }

.golf-bg {
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-image: url("../images/game-bg.jpg");
  background-repeat: no-repeat; }

.app-view.view-home {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-image: url("../images/bg.jpg"); }
  .app-view.view-home .wap-button-view {
    top: 31rem;
    left: 50%;
    position: absolute; }
    .app-view.view-home .wap-button-view .wap-button {
      transform: translateX(-50%);
      background-color: transparent;
      background-image: url("../images/btn.png");
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: auto 100%;
      line-height: 6.25rem;
      width: 11.25rem;
      height: 6.25rem;
      font-size: 1.66667rem;
      text-align: center;
      color: #fff; }
      .app-view.view-home .wap-button-view .wap-button a {
        display: block;
        color: #fff;
        text-decoration: none; }
  .app-view.view-home .wap-activity-box {
    position: absolute;
    height: 2.58333rem;
    width: 2.58333rem;
    right: 1.41667rem;
    background-repeat: no-repeat;
    background-size: 100%; }
  .app-view.view-home .wap-static-banner {
    position: absolute;
    top: 8.375rem;
    height: 100%;
    width: 24.16667rem;
    background-repeat: no-repeat;
    background-image: url("../images/banner.png");
    background-size: 100%; }
  .app-view.view-home .wap-remaining-number-of-prizes {
    position: absolute;
    top: 23.75rem;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 1.25rem;
    left: 0; }
    .app-view.view-home .wap-remaining-number-of-prizes .count {
      font-size: 1.25rem;
      color: #f1cd26;
      text-decoration: none; }
  .app-view.view-home .wap-number-of-participants {
    position: absolute;
    left: 0;
    top: 27.08333rem;
    width: 100%;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    font-size: 1.25rem; }
    .app-view.view-home .wap-number-of-participants .count {
      font-size: 1.25rem;
      color: #f1cd26;
      text-decoration: none; }
  .app-view.view-home .wap-rule-link {
    position: absolute;
    left: 0;
    bottom: 0.41667rem;
    text-align: center;
    margin-bottom: 0.83333rem;
    width: 100%; }
    .app-view.view-home .wap-rule-link a {
      color: #fff;
      font-size: 1.25rem;
      text-decoration: underline;
      font-weight: bold; }
  .app-view.view-home .wap-rank-link {
    position: absolute;
    bottom: 1.66667rem;
    right: 4.16667rem; }
    .app-view.view-home .wap-rank-link a {
      color: #ffd521;
      font-size: 1.25rem;
      text-decoration: underline;
      font-weight: bold; }
  .app-view.view-home .wap-logo {
    left: 2.08333rem;
    width: 7.83333rem; }
    .app-view.view-home .wap-logo .logo {
      background-repeat: no-repeat;
      background-image: url("../images/logo.png");
      background-size: 100%; }

.app-view {
  height: 100%;
  background-color: #fbe5c0;
  background-size: 26.66667rem;
  background: url("../images/common-bg.jpg") 0 0 no-repeat; }

/*# sourceMappingURL=style.css.map */
