.wap-black-white-block {
	width: 100%;
	height: 100%;
	.trs {
		width: 100%;
		height: 100%;
		display: flex;
	    flex-wrap: wrap-reverse;
		.tr {
			width: 100%;
			height: 20%;
		    display: flex;
			justify-content: space-between;
		}
		.td {
			height: 100%;
			width: 25%;
		}
	}
}