
.jq-file-upload__wrapper {
    position: relative;
    width: 300px;

    input[type=file] {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    button {
        width: 90px;
        height: 34px;
        border: 1px solid #ccc;
    }
}