@import '../../../css/px2rem.scss';
.wap-activity-box {
    max-height: 10rem;
    width: px2rem(62px);
    height: px2rem(59px);
    top: .8rem;
    right: 1rem;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("http://www.soyu.cn/fsd/ap/20160921/88_01ab16b2_c4c4_4316_99f7_d0e08ee6dfcb.png");
    background-size: 100%;
    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}