<ion-view title="图片处理" hide-back-button="false" hide-nav-bar="false" class="build-page">
    <ion-nav-buttons side="right">
        <button class="button button-icon" ng-click="build()">
            生成<i class="icon icon-arrow-right"></i>
        </button>
    </ion-nav-buttons>
    <div class="top-section has-header">
        <canvas id="build-c"></canvas>
    </div>
    <div class="bottom-section">
        <div class="top-nav">
            <ul>
                <!-- <li class="active">动漫</li>
                <li>节日<span>new</span></li>
                <li>无节操</li>
                <li>2B</li>
                <li>暴漫</li> -->
                <li ng-repeat="value in types track by $index" ng-class="{active: value==currType}" ng-click="changeType(value)">{{value}}</li>
            </ul>
        </div>
        <div class="panel-content">
            <ul>
              <li ng-repeat="list in templates | filter: currType" ng-class="{active: tplName==list.name}" ng-click="changeTemp(list.name)">
                  <img ng-src="templates/{{list.name}}/thumb.jpg">
              </li>
             <!--  <li ng-class="{active: tplName=='learnMusic'}" ng-click="changeTemp('learnMusic')">
                  <img src="templates/learnMusic/thumb.jpg">
              </li>
              <li ng-class="{active: tplName=='a2'}" ng-click="changeTemp('a2')">
                  <img src="templates/a2/thumb.jpg">
              </li>
              <li ng-class="{active: tplName=='fly'}" ng-click="changeTemp('fly')">
                  <img src="templates/fly/thumb.jpg">
              </li>
              <li ng-class="{active: tplName=='inShower'}" ng-click="changeTemp('inShower')">
                  <img src="templates/inShower/thumb.jpg">
              </li>
              <li ng-class="{active: tplName=='parachute'}" ng-click="changeTemp('parachute')">
                  <img src="templates/parachute/thumb.jpg">
              </li>
              <li ng-class="{active: tplName=='sorry'}" ng-click="changeTemp('sorry')">
                  <img src="templates/sorry/thumb.jpg">
              </li>
              <li ng-class="{active: tplName=='auteman'}" ng-click="changeTemp('auteman')">
                  <img src="templates/auteman/thumb.jpg">
              </li>
              <li ng-class="{active: tplName=='a3'}" ng-click="changeTemp('a3')">
                  <img src="templates/a3/thumb.jpg">
              </li>

              <li ng-class="{active: tplName=='christmas1'}" ng-click="changeTemp('christmas1')">
                  <img src="templates/christmas1/thumb.jpg">
              </li>
              <li ng-class="{active: tplName=='like'}" ng-click="changeTemp('like')">
                  <img src="templates/like/thumb.jpg">
              </li>
              <li ng-class="{active: tplName=='a4'}" ng-click="changeTemp('a4')">
                  <img src="templates/a4/thumb.jpg">
              </li>
              <li ng-class="{active: tplName=='a5'}" ng-click="changeTemp('a5')">
                  <img src="templates/a5/thumb.jpg">
              </li>
              <li ng-class="{active: tplName=='halloween1'}" ng-click="changeTemp('halloween1')">
                  <img src="templates/halloween1/thumb.jpg">
              </li> -->
            </ul>
        </div>
    </div>
</ion-view>
