<ion-view title="" hide-back-button="true" hide-nav-bar="true">
    <ion-content class="home-page" has-tabs="false" scroll="false">
        <div class="bottom">
        	<div class="block-btns">
	            <div class="btn"><i class="icon icon-camera royal"></i><span>选择照片</span><input type="file" id="fileInput"></div>
	            <div class="btn"><i class="icon icon-camera royal"></i><span>拍照</span><input type="file" id="fileInput2"></div>
	            <!-- <div class="btn" ng-click="tackPicture()"><i class="icon icon-camera royal"></i><span>拍照</span></div> -->
	        </div>
        </div>
    </ion-content>
</ion-view>
