.uploadButton {
    		padding: 7px 9px;
		    font-size: 12px;
		    border-radius: 4px;
		    color: #fff;
		    background-color: #337ab7;
    		border-color: #2e6da4;
		    display: inline-block;
		    line-height: 1;
		    white-space: nowrap;
		    cursor: pointer;
		    border: 1px solid #bfcbd9;
		    -webkit-appearance: none;
		    text-align: center;
		    box-sizing: border-box;
		    outline: none;
		    margin: 0;
		    margin-left : 15px;
    	}