@import '../../../css/px2rem.scss';

.wap-turntable {
	width: px2rem(515px);
	height: px2rem(515px);
	margin: auto;
	position: relative;
	.pointer {
		position: absolute;
		left: 50%;
		top: 50%;
		background: url("http://157.255.23.23/images/fsd/ap/20170615/88_331dd9ec_1455_4853_8531_fd8d826cb54d.png") 0 0 no-repeat;
		background-size: 100%;
		width: px2rem(125px);
		height: px2rem(163px);
		margin-left: px2rem(-125px/2);
		margin-top: px2rem(-163px/2);
		z-index: 5;
	}
	.circle-table {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: url("http://www.soyu.cn/fsd/ap/20161117/88_711db092_d57f_4f9f_83e2_23b50ef2d0bb.png") 0 0 no-repeat;
		background-size: 100%;
		z-index: 1;
		.prize-place-item {
			position: absolute;
			left: 50%;
			width: 100%;
			top: 50%;
			margin-left: -50%;
			text-align: right;
			padding-right: px2rem(60px);
			&:nth-child(odd) {
				font-size: px2rem(28px);
				color: #933b00;
				margin-top: px2rem(-28px/2);
			}
			&:nth-child(even) {
				font-size: px2rem(37px);
				color: #ff6600;
				margin-top: px2rem(-37px/2);
			}

			&:nth-child(1) {
				transform: rotate(-120deg);
			}
			&:nth-child(2) {
				transform: rotate(-60deg);
			}
			&:nth-child(4) {
				transform: rotate(60deg);
			}
			&:nth-child(5) {
				transform: rotate(120deg);
			}
			&:nth-child(6) {
				transform: rotate(180deg);
			}
			// &:nth-child(4) {
			// 	right: px2rem(60px);
			// 	top: 50%;
			// 	-webkit-transform: rotate(60deg);
			// 	-moz-transform: rotate(60deg);
			// 	-ms-transform: rotate(60deg);
			// 	-o-transform: rotate(60deg);
			// 	transform: rotate(60deg);
			// }
			// &:nth-child(6) {
			// 	left: px2rem(60px);
			// 	top: 50%;
			// }
		}
	}
}